.button{
    background-color: #4CAf50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.chat-box-user-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
#user-list{
    display:table;
    
    border: black 1px solid;
    gap: 5px;
    padding: 5px;
}
.user
.round{border-radius:8px;}

