.button{
    background-color: #4CAf50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.round{border-radius:8px;}
#responses{background-color:#ff9800;}